.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form_control label {
  margin-bottom: .6em;
  font-weight: bold;
  color: var(--text-color);            
}

.form_control input {
  padding: .7em;
  border-radius: 5px;            
  border: 1px solid var(--border-card); 
  background-color: var(--bg-card);   
  color: var(--text-color);           
  outline: none;
}

.form_control input::placeholder {
  color: var(--text-secondary);         
}