.container {
  width: 100%; 
  max-width: 1200px; 
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 20px; 
  box-sizing: border-box; 
}

.start {
  justify-content: flex-start;
  width: 100%;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%; 
}