.message{
    width: 100%;
    padding: 1em;
    border: 1px solid var(--message-border);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 5px;
}

.success{
    color: var(--success-text);
    background-color: var(--success-bg);
    border-color: var(--success-border);
}

.error{
    color: var(--error-text);
    background-color: var(--error-bg);
    border-color: var(--error-border);
}