.homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background: var(--bg-primary); 
    transition: background 0.3s ease;
    text-align: center;
}

.homeContainer h1 {
    font-size: 2.5em;
    margin-bottom: 1.3em;
    color: var(--text-color);
}

.homeContainer h1 span {
    color: #fb3;
    padding: 0 .2em;
    background-color: #222;
}

.homeContainer p {
    margin-bottom: 1.5em;
    color: var(--text-secondary);
}

.homeContainer img {
    width: 350px;
    margin: 2em 0;
}